{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier son profil
{% endblock %}

{%  block body %}
    <div> <h2>{{ user.pseudo }}</h2></div>
    <div>
        <img src="{{ asset('img/profil/'~ user.picture) }}"  >
    </div>
    <div>

        <div>Nom : {{ user.firstname}}</div>
        <div>Téléphone : {{ user.phone }}</div>
        <div>Email : {{ user.email }}</div>
        <div>Campus : {{ user.campus.name}}</div>
    </div>
    <div><a href="{{ path('outing_list') }}" ><button>Retour</button></a></div>
{% endblock %}