{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier son profil
{% endblock %}

{%  block body %}
    {# affiche les éventuels messages flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% if user  is  null %}

            <img src="{{ asset('img/profil/'~ default.png) }}"  >
        {% else %}
            <img src="{{ asset('img/profil/'~ user.picture) }}"  >
        {% endif %}
    </div>
    {% if app.user() %}{% endif %}
    <h2>Edition de profil</h2>
    {{ form_errors(userForm) }}
    {{form_start(userForm)  }}
    {{form_widget(userForm)  }}
    {% if app.user %} {% endif %}
    <button>Valider</button>

    {{ form_end(userForm) }}
{% endblock %}