{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier son profil
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ user.pseudo }}</h1>
    <article>

        <section class="grid-x">
        <div class="cell small-3 small-offset-1">
            <img id="profile-pic" src="{{ asset('img/profile/'~ user.picture) }}" alt="Photo de profil">
        </div>
        <div class="cell small-7 small-offset-1">
            <ul class="no-bullet align-center">
                <li><strong>Prénom :</strong> {{ user.firstname }}</li>
                <li><strong>Nom :</strong> {{ user.lastname }}</li>
            <li><strong>Téléphone :</strong> {{ user.phone }}</li>
            <li><strong>Email :</strong> {{ user.email }}</li>
            <li><strong>Campus :</strong> {{ user.campus.name }}</li>
        </ul>
        </div>

        <div class="button-group align-center">
            <a href="{{ path('outing_list') }}">
                <button type="button" class="hollow button secondary align-self-middle">Retour</button>
            </a>
        </div>
        </section>
    </article>


{% endblock %}