<h4>Outil de recherche</h4>
<div class="containersortie grid-container">
{{ form_start(form) }}

<div class="small-12 medium-6 columns">
    <div class="medium-6 cell">
        <label>Sélection du campus :
            {{ form_row(form.campus) }}
        </label>
    </div>
    <div class="medium-6 cell">
        <label>Le nom de la sortie contient :
            {{ form_row(form.q) }}
        </label>
    </div>
    <div class="medium-6 cell">
        <label>Se déroulant entre le :
            {{ form_row(form.dateStart) }}
        </label>
    </div>
    <div class="medium-6 cell">
        <label>et le :
            {{ form_row(form.dateEnd) }}
        </label>
    </div>
</div>

<fieldset class="small-12 large-6 columns float-left checkboxList">
    <ul class="menu vertical">
        <li>{{ form_row(form.organizer) }}</li>
        <li>{{ form_row(form.registered) }}</li>
        <li>{{ form_row(form.unregistered) }}</li>
        <li>{{ form_row(form.olds) }}</li>
    </ul>
</fieldset>
<input type="button" value="Rechercher" class="button secondary" id="button-list" onclick="refreshContenu()">
{{ form_end(form) }}
</div>

