{{ form_start(form) }}

<div class="medium-6 cell">
    <label class>Sélection du campus :
        {{ form_row(form.campus) }}
    </label>
</div>
<div class="medium-6 cell">
    <label>Le nom de la sortie contient :
        {{ form_row(form.q) }}
    </label>
</div>
<div class="medium-6 cell">
    <label>Se déroulant entre le :
        {{ form_row(form.dateStart) }}
    </label>
</div>
<div class="medium-6 cell">
    <label>et le :
        {{ form_row(form.dateEnd) }}
    </label>
</div>
<div class="grid-x large-4 cell">
    <aside>
        <ul class="menu vertical">
            <li>
                <label>
                    {{ form_row(form.organizer) }}
                    Sorties dont je suis l'organisateur/trice
                </label>
            </li>
            <li>
                <label>
                    {{ form_row(form.registered) }}
                    Sorties auxquelles je suis inscrit/e
                </label>
            </li>
            <li>
                <label>
                    {{ form_row(form.unregistered) }}
                    Sorties auxquelles je ne suis pas inscrit/e
                </label>
            </li>
            <li>
                <label>
                    {{ form_row(form.olds) }}
                    Anciennes sorties
                </label>
            </li>
        </ul>
        <hr>
        <div class="medium-6 cell text-center">
        <button class="hollow button" id="search" >Rechercher</button>
        </div>
    </aside>
</div>

{{ form_end(form) }}