<tr>
        <td>{{ outing.name }}</td>
        <td>{{ outing.dateTimeStart | date('d/m/Y à h\\H') }}</td>
        <td>{{ outing.limitDateInscription | date('d/m/Y à h\\H') }}</td>
        <td>{{ outing.organizerUser.firstname }} {{ outing.organizerUser.lastname }}</td>
        <td>{{ outing.campus.name }}</td>
        <td>{{ outing.registeredUsers.count }} / {{ outing.maxNbPart }}</td>
</tr>