{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{%  block body %}
    <div style="text-align:center" >
        <h4>Nom de la sortie : {{ outingToCancel.name}}</h4>
        <p>Date de la sortie : {{ outingToCancel.dateTimeStart|date }}</p>
        <p>Campus : {{ outingToCancel.campus.name }}</p>
        <p>Lieu: {{ outingToCancel.location.address }}</p>
        {{ form_start(formCancel) }}
        {{ form_row(formCancel.motif) }}
            <button type="submit" name="submitAction"  value="Enregistrer" class="btn btn-primary">Enregistrer</button>
            <button type="button" name="submitAction"  value="annuler" class="btn btn-primary">Annuler</button>
        {{ form_end(formCancel) }}
    </div>
{% endblock %}