{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Annuler une sortie
{% endblock %}

{%  block body %}
    <h1>Annuler une sortie</h1>
    <div style="text-align:center" >
        <p><strong>Nom de la sortie :</strong> {{ outingToCancel.name}}</p>
        <p><strong>Date de la sortie :</strong> {{ outingToCancel.dateTimeStart|date }}</p>
        <p><strong>Campus :</strong> {{ outingToCancel.campus.name }}</p>
        <p><strong>Lieu :</strong> {{ outingToCancel.location.address }}</p>
        {{ form_start(formCancel) }}
        {{ form_row(formCancel.motif) }}
            <button type="submit" name="submitAction"  value="Enregistrer" class="btn btn-primary">Enregistrer</button>
            <button type="button" name="submitAction"  value="annuler" class="btn btn-primary">Annuler</button>
        {{ form_end(formCancel) }}
    </div>
{% endblock %}