{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} | Afficher une sortie
{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>

    <section>
    <ul>
    <li><strong>Nom de la sortie : </strong>{{ outing.name }}</li>
    <li><strong>Date et heure de la sortie : </strong>{{ outing.dateTimeStart | format_datetime('full', 'short', locale='fr') }}</li>
    <li><strong>Date limite d'inscription : </strong>{{ outing.limitDateInscription | format_datetime('full', 'none', locale='fr') }}</li>
    <li><strong>Nombre de places : </strong>{{ outing.maxNbPart }}</li>
    <li><strong>Durée : </strong>{{ outing.duration }} minutes</li>
    <li><strong>Description et infos : </strong>{{ outing.outingReport }}</li>
    <li><strong>Campus : </strong>{{ outing.campus }}</li>
    <li><strong>Lieu : </strong>{{ outing.location.name }}</li>
    <li><strong>Rue : </strong>{{ outing.location.address }}</li>
    <li><strong>Code postal : </strong>{{ outing.location.city.postCode }} {{ outing.location.city.name }}</li>
    <li><strong>Latitude : </strong>{{ outing.location.latitude }}</li>
    <li><strong>Longitude : </strong>{{ outing.location.longitude }}</li>
    </ul>
    </section>

    <section>
    <h2>Liste des participants inscrits ({{ outing.registeredUsers.count }} / {{ outing.maxNbPart }}) :</h2>
        <table>
            <thead>
            <td>Pseudo</td>
            <td>Nom</td>
            </thead>
            {# TODO: Récupérer et afficher pseudo et nom des participants inscrits #}
            <tr>
                <td>Essai</td>
                <td>Essai 2</td>
            </tr>
        </table>
    </section>

{% endblock %}



