{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}

{% block body %}
    <article class="grid-container">
        <h2>Lists des sorties</h2>
        <div class="grid-x grid-margin-x">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell small-order-4 medium-order-1">
                    {% include 'outing/_filter.html.twig' with {form: form} only %}
                </div>
            </div>
        </div>
        <section id="main-table">
            <div class="medium-12 cell small-order-2 medium-order-1" id="refresh-table">
                <table class="ui celled table" >
                    <tbody>
                    <thead>
                    <th>Nom</th>
                    <th>Date de début</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Orga.</th>
                    <th>Actions</th>
                    </thead>
                    {% include 'outing/_outings.html.twig' %}
                    </tbody>
                </table>
                <div class="pagination-event">
                    {% do outings.setPageRange(2) %}
                    {{ knp_pagination_render(outings, 'pagination/pagination.html.twig') }}
                </div>
            </div>
        </section>
    </article>
<article class="grid-container" >
    <div class="grid-x grid-margin-x">
        <div class="grid-x grid-margin-x">
            <a href="{{ path('outing_create') }}"><button class="button secondary">Créer une nouvelle Sortie</button></a>
        </div>
    </div>
</article>
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Filter.js') }}"></script>
{% endblock %}
