<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" />

        <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/foundation.css') }}"/>
        <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
        <link rel="icon" href="{{ asset('img/site/Serendipistes.png') }}" />
        <title>{% block title %}Sortir{% endblock %}</title>
    </head>
    <body>

    <header class="top-bar" id="responsive-menu">
        <div class="logo">
            <a href="{{ path('outing_list') }}"><img src="{{ asset('img/site/logo-sortir.png') }}" alt="Sortir"></a>
        </div>
        {% include 'menu/nav.html.twig' %}

    </header>

    <span style="text-align:center">
    {# affiche les éventuels messages flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
    </span>

    <main class="grid-container">{% block body %}{% endblock %}</main>
     <footer class="cell shrink footer">© Les Serendipistes</footer>
    </body>
{% block stylesheets %}
{% endblock %}

    {% block javascript %}
     {% endblock %}
    {% block extrajs %}
        <script type="text/javascript" src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/moment.js') }}"
    {% endblock %}
</html>


